<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./static/css/style.css">
	<link rel="stylesheet" href="./static/css/null.css">
	<title>Bongo Cat</title>

	<script src="./static/js/config.js"></script>
</head>

<body>
	<div class="container">
		<div class="bongocat">
			<div class="bongocat__body">

				<div class="bongocat__layer bongocat__layer-bg">
					<img src="./static/img/mousebg.png" alt="">
				</div>
				<div class="bongocat__layer bongocat__layer-up">
					<img src="./static/img/up.png" alt="">
				</div>

				{{range .}}

				<div class="bongocat__layer bongocat__layer-{{.Name}}">
					<img src="./static/img/{{.Name}}.png" alt="">
				</div>

				{{end}}

				<div class="bongocat__layer">
					<canvas id="canvas">

					</canvas>
				</div>
			</div>
		</div>
	</div>
</body>

</html>